body {
background-image: url("img/cinema.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/* Navbar */
.navbar-left, h1 {
  font-family: 'Monoton', cursive;
  font-weight: 400;
}

.navbar-default {
  background: none;
  background-color:  rgba(137, 177, 179, 0.616);
}

.progres-box {
width: 50%;
margin: 0 auto;
padding-top: 40px;
}

.progress {
 background: rgba(230, 214, 161, 1);
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(230, 214, 161, 1) 100%);
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(230, 214, 161, 1) 100%);
  border: 0px solid rgba(113, 199, 117, 1);
   border-radius: 19px;
   height: 25px;}

/* Navbar */

                          /* Body */
.main-container {
  padding-left: 100px;
  padding-right: 100px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 725;
}

.col-md-8{
height: 800px;
background-color: rgba(137, 177, 179, 0.616);
border:solid 1px rgba(255, 255, 255, 0.685);
}

.card-body{
  background-color: #e3c152d5;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

p{
  font-size: 23px;
}

span{
  font-size: 23px;
}

.col-md-4{
height: 800px;
/* background-color: rgba(168, 164, 165, 0.473) */
/* background-color: #e43a3d2f; */
background-color: #e3c152b0;
}

.panel-default{
  height: 765px;
  background-color: rgba(161, 166, 167, 0.493);
  margin-top: 20px;
  margin-bottom: 20px;
}

#budget-input{
  background-color: #e6dfe0;
}
